@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body {
  background-color: #131722;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

.secondFontColor {
  color: #949cb0;
}

.brdr {
  height: 2px;
  background-color: #a8a8a83d;
  margin: 20px 0;
}

.item {
  position: relative;
}

.votings {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #24baef;
  padding: 3px;
}
